.mmogame_imgbutton {
    position: absolute;
    padding: 0;
    border-radius: 0;
    filter: none;
    cursor: pointer;
}
.mmogame_imgbutton:hover,
.mmogame_imgbutton:focus {
    outline: none;
    filter: contrast(0.65);
}

.mmogame_imgbutton:active {
    transform: translateY(0.125em);
}

.mmogame_imgbutton_disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.mmogame_button {
    position: absolute;
    border: solid 0.125em transparent;
    padding: 0;
    border-radius: 1em;
    color: #fff;
    filter: none;
    cursor: pointer;
}

.mmogame_button:hover,
.mmogame_button:focus {
    outline: none;

    filter: contrast(0.65);
}

.mmogame_button:active {
    transform: translateY(0.125em);
}

.mmogame-table-help {
    border-collapse: collapse;
    width: 100%;
}

.mmogame-table-help,
.mmogame-table-help td {
    border: 1px solid black;
}

.mmogame-table-help td {
    padding: 8px;
}

.mmogame-td-help-image {
    text-align: center;
}